# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [3]:
def addTwo(n):
    return n + 2

print(addTwo(4))

# Lambda Function Syntax
# Example of callinh a lambda without a variable name

print((lambda x: x+2)(4))

6
6

#### Saving to a Variable

In [4]:
lambda_var = lambda x: x +2

lambda_var(4)

6

#### Multiple Inputs

In [6]:
# no variable
print((lambda x,y,z: x*y*z)(3,5,2))

# variable

test = lambda x,y,z: x*y*z

test(3,5,2)

30

30

#### Passing a Lambda into a Function

In [7]:
def multiply(f, num):
    """
        f expects a lambda funtion
        num expects an integer
    """
    return f(num)

multiply(lambda x: x*x, 4)

16

#### Returning a Lambda from a Function

In [12]:
# Regular defined function
def multiply_test(num):
    return num * 4

# Function within another funtion

def returnFunc():
    test = 4
    def multiply(num):
        return num * 2
    return multiply

print(returnFunc())

f_storage = returnFunc()

print(f_storage(4))

# Lambda function return from a regular named function

def returnLambda(b,c):
    return lambda x,a: x + a + b + c

r_lamb = returnLambda(4,5)
# r_lamb = lambda x,z: x + a + 4 + 5
print(r_lamb)
print(r_lamb(5,5))

<function returnFunc.<locals>.multiply at 0x000002708EC27310>
8
<function returnLambda.<locals>.<lambda> at 0x000002708EC27430>
19

#### If Statements within Lambdas

In [19]:
# lambda x: True if (condition) else False

# Normal conditional inside of named function

def conditional(n):
    if n > 10:
        return n * 2
    else:
        return n + 2
    
# anonymous function with conditional statement

f_condition = lambda n: n * 2 if n > 10 else n + 2

print(f_condition(2))
f_condition(11)

4

22

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [23]:
f_cubefunction = lambda f: f ** 3
print(f_cubefunction(5))
f_cubefunction(3)

125

27

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [31]:
# map(function, iterable(list, dictionary, tuple, set))
# Normally we use map with a user defined funtion but we can use lambdas as well

def squared(num1, num2):
    if num1 < 10 and num2 <10:
        return num1 ** 2, num2 ** 2
    else:
        return num1, num2

numbers = [2, 3, 10, 15, 20]
more_numbers = [2, 7, 2, 12, 100]

# Map functions return a Map Object - so your must wrap them in a list() to get values returned
squared_nums_map = list(map(squared, numbers, more_numbers))
print(squared_nums_map)

[(4, 4), (9, 49), (10, 2), (15, 12), (20, 100)]

#### Using Lambda's with Map

In [33]:
# map(lambda x: x + 2, list)
# using lambda in map, it happens in line - or on eon eline
# list(map(lambda x : x * 2,nums))
squared_nums_lamb = list(map(lambda x,y : (x ** 2,y ** 2) if x < 10 and y < 10 else (x,y),numbers,more_numbers))
print(squared_nums_lamb)

[(4, 4), (9, 49), (10, 2), (15, 12), (20, 100)]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [36]:
f_twominusone = lambda x: x * 2 - 1
nums = [10, 2, 3, 7, 100, 25]

exercise = list(map(f_twominusone, nums))
print(exercise)

[19, 3, 5, 13, 199, 49]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [39]:
names = ['Bob', 'Andy', 'Max', 'Evan', 'Angelica']

def a_names(name):
    if name[0].lower() == 'a':
        return True
    else:
        return False
    
names_starting_a = list(filter(a_names, names))
print(names_starting_a)

['Andy', 'Angelica']

#### Using Lambda's with Filter()

In [41]:
new_names_lamb = list(filter(lambda name: True if name[0].lower() == 'a' else False, names))
print(new_names_lamb)

['Andy', 'Angelica']

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [46]:
from statistics import mean

nums = [2, 7, 4.2, 1.6, 9, 4, 4.4, 4.9]

avg = mean(nums)

def aboveMean(number):
    if number > avg:
        return True
    else:
        return False
    
above_mean_list = list(filter(aboveMean, nums))
print(above_mean_list)

[7, 9, 4.9]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [48]:
from functools import reduce

# reduce(function, iterable)

list_1 = [2, 4, 6, 8, 7, 9]

def addNums(num1, num2):
    return num1 +num2

result_add = reduce(addNums, list_1)
print(result_add)

#subtraction example

def subtractNums(num1, num2):
    return num1-num2

result_sub = reduce(subtractNums, list_1)
print(result_sub)

36
-32

#### Using Lambda's with Reduce()

In [50]:
result_lamb = reduce(lambda x,y: x + y, list_1)
print(result_lamb)

36

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [51]:
product_lamb = reduce(lambda x,y: x*y, list_1)
print(product_lamb)

24192

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [66]:
def addNums(num):
    # Set a base case for recursive function
    if num <= 1:
        print("AddNums(1) = 1")
        return num
    else:
        print(f"addNums({num}) = {num} addNums({num -1})")
        return num + addNums(num -1)
    
addNums(5)

addNums(5) = 5 addNums(4)
addNums(4) = 4 addNums(3)
addNums(3) = 3 addNums(2)
addNums(2) = 2 addNums(1)
AddNums(1) = 1

15

#### Writing a Factorial Function

In [67]:
# 5! = 5 * 4 * 3 * 2 * 1
def factorial(num):
    if num <= 1:
        return 1
    else:
        return num * factorial(num - 1)
    
factorial(5)

120

In [72]:
def addToTwenty(num):
    if num >= 20:
        return num
    else:
        return num + addToTwenty(num+1)
    
addToTwenty(15)

105

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [69]:
def subNum(num):
    if num <=1 :
        return 1
    else:
        return num - subNum(num-1)
    
subNum(5)

3

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [97]:
def my_range(stop, start, step = 2):
    while start < stop:
        yield start # yield keyword denotes a generator
        start += step
for i in my_range(20, start = 2):
    my_generator_value = i
    print(my_generator_value)

my_range(20,start = 2)

2
4
6
8
10
12
14
16
18

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [123]:
# for i in numbers_squared(10)

def num_sq(stop,start,step = 1):
    while start >= stop:
        yield start ** 2
        start -= step
        
for i in num_sq(0,start = 4):
    print(i)

16
9
4
1
0

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [53]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

def cityNames(name):
    if name == "":
        return False
    elif name == " ":
        return False
    elif name == "  ":
        return False
    else:
        return True
    
proper_city_names = list(filter(cityNames, places))
print(proper_city_names)

['Argentina', 'San Diego', 'Boston', 'New York']

In [58]:
import re

def cityNames2(name):
    if name == None:
        return False
    else:
        return True
    
proper_city_names2 = list(filter(cityNames2, places))
print(proper_city_names2)

[' ', 'Argentina', ' ', 'San Diego', '', '  ', '', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [64]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

author.sort(key = lambda name: name.split(" ")[-1].lower()) 

print(author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [174]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

place1 = list(places[0])
place2 = list(places[1])
place3 = list(places[2])
place4 = list(places[3])

places_list = place1 + place2 + place3 + place4

celtemp = []

for x in places_list:
    if type(x) == int:
        celtemp.append(x)
        places_list.remove(x)
        
print(celtemp)
print(places_list)


cel_to_far = lambda x,y: (y,((9/5) * x +32))

fartemp = list(map(cel_to_far, celtemp, places_list))
print(fartemp)

[32, 12, 44, 29]
['Nashua', 'Boston', 'Los Angelos', 'Miami']
[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

In [165]:
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]


result = list(map(lambda x: (x[0],(9/5)*x[1] +32), places))
print(result)

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [132]:
def FibSeq(num):
    if num <= 1:
        return num
    else:
        return(FibSeq(num-1) + FibSeq(num-2))

print(FibSeq(0))    
print(FibSeq(1))    
print(FibSeq(2))    
print(FibSeq(3))    
print(FibSeq(4))    
print(FibSeq(5))    
print(FibSeq(6))    
print(FibSeq(7))    
print(FibSeq(8))

0
1
1
2
3
5
8
13
21